[package]
name = "kobuki"
version = "0.1.0"
edition = "2024"

[dependencies]
ros2_rust = { git = "https://github.com/ros2-rust/ros2_rust.git", tag = "0.4.1" }
kobuki-interface = { git = "https://github.com/rust-aarhus/kobuki-interface.git", branch = "main" }
