[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace]
members = ["crates/twist_to_kobuki"]

[workspace.dependencies]
kobuki-interface = { git = "https://github.com/rust-aarhus/kobuki-interface.git", branch = "main" }
anyhow = "1.0.97"
tokio = "1.44.1"
tokio-serial = "5.4.5"
